@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap");
* {
  font-family: "STIX Two Math", serif;
}
thead {
  background: rgb(55, 56, 99);
}
th {
  display: flexbox;
  border-radius: 4px;
  padding: 5px;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
td {
  background: rgb(172, 205, 248);
  text-align: center;
  font-size: 15px;
  padding: 5px;
}
